extends layout

block content
	div.container
		div.page-header
			div.row
				div.col-md-8.col-sm-8
					h1 当別町の大谷さんですっ！
					p.lead
						はじめまして、北海道の札幌市のおとなり、当別町に住んでいる「大谷さん」です。大谷号の案内役として、大好きな北海道のこととか、旅のこととか、ジャガイモのこととかを紹介してますっ。みんなよろしくですよっ。(*´ω｀*)
					div.bs-conponent
						table.table.table-striped.table-hover
							tbody
								tr
									td 名前
									td 大谷さん
								tr
									td 住んでるところ
									td 北海道の当別町
								tr
									td 誕生日
									td 2月1日（みずがめ座）
								tr
									td 年齢
									td お酒が飲めるくらい
								tr
									td 身長
									td 150㎝付近
								tr
									td 好きな食べ物
									td ジャガイモ（しんしあ）、どらやき
								tr
									td 趣味
									td スーパーカブでお出かけ、プロ野球観戦（日ハム）、料理
				div.col-md-4.col-sm-4
					img(src='/images/about/ota2top.png')

		div.row
			h2 大谷さんの活動について
			h3 現実世界では、フェルト人形の姿です。
			p
				ボクはキャラクターなので生身の体がありません＞＿＜ 現実に出て行くときはフェルト（羊毛）でできた小さな人形に乗り移って行動するのです。 とっても小さいので、写真にかんたんに写り込めてなかなか便利なんですよっ。もしどこかでボクを見つけたら、あやしいなんて思わないで気軽に声をかけてねっ。
			div.col-md-4.col-sm-4
				img.img-responsive(src='/images/about/ota230.jpg')
			div.col-md-4.col-sm-4
				img.img-responsive(src='/images/about/ota231.jpg')
			div.col-md-4.col-sm-4
				img.img-responsive(src='/images/about/ota232.jpg')
				
				
		div.row
			
				
	
			