extends layout

block content
	div.container
		div.page-header
			div.row
				div.col-md-8.col-sm-8.col-xs-8
					h1 当別町の大谷さんですっ！
					p.lead はじめまして、北海道の札幌市のおとなり、当別町に住んでいる「大谷さん」です。大谷号の案内役として、大好きな北海道のこととか、旅のこととか、ジャガイモのこととかを紹介してますっ。みんなよろしくですよっ。(*´ω｀*)
					div.bs-conponent
						table.table.table-striped.table-hover
							tbody
								tr
									td 名前
									td 大谷さん
								tr
									td 住んでるところ
									td 北海道の当別町
								tr
									td 誕生日
									td 2月1日（みずがめ座）
								tr
									td 年齢
									td お酒が飲めるくらい
								tr
									td 身長
									td 150㎝付近
								tr
									td 好きな食べ物
									td ジャガイモ（しんしあ）、どらやき
								tr
									td 趣味
									td スーパーカブでお出かけ、プロ野球観戦（日ハム）、料理
				div.col-md-4.col-sm-4.col-xs-4.col-xs-4
					img(src='/images/about/ota2top.png')

		div.row
			h2 大谷さんの活動について
			h3 現実世界では、フェルト人形の姿です。
			p
				ボクはキャラクターなので生身の体がありません＞＿＜ 現実に出て行くときはフェルト（羊毛）でできた小さな人形に乗り移って行動するのです。 とっても小さいので、写真にかんたんに写り込めてなかなか便利なんですよっ。もしどこかでボクを見つけたら、あやしいなんて思わないで気軽に声をかけてねっ。
			div.col-md-4.col-sm-4.col-xs-4
				img.img-responsive(src='/images/about/ota230.jpg')
			div.col-md-4.col-sm-4.col-xs-4
				img.img-responsive(src='/images/about/ota231.jpg')
			div.col-md-4.col-sm-4.col-xs-4
				img.img-responsive(src='/images/about/ota232.jpg')
		hr
				

		div.row
			p
				div.col-md-8.col-sm-8.col-xs-8
					h3 大谷さんは行動派！どこにでもお出かけしちゃいます。
					p ボクはお出かけ大好き！独自の視点で「ちょっとかわったいいもの」を見つける大谷センサーを駆使してみんなにオススメを紹介しちゃうよっ。
					p だけど、ボクのセンサーはなぜか食べ物にばっかり反応しちゃうのだ。本当は綺麗な景色とかおもしろいスポットとか、そういういいものもいっぱいあるはずなのに、気が付くとカメラのメモリが食べ物の写真で埋まってたりするんだよ。なんでだろうね、おかしいのだっ(*´ω｀*) 
				div.col-md-4.col-sm-4.col-xs-4
					img.img-responsive(src='/images/about/ota2312.jpg')
		div.row
			p
				div.col-md-4.col-sm-4.col-xs-4
					img.img-responsive(src='/images/about/ota2310.jpg')
				div.col-md-4.col-sm-4.col-xs-4
					img.img-responsive(src='/images/about/ota2313.jpg')
				div.col-md-4.col-sm-4.col-xs-4
					img.img-responsive(src='/images/about/ota2314.jpg')
		hr
		
		div.row
			p
				div.col-md-8.col-sm-8.col-xs-8
					h3 大谷さんはお料理大好きなんだよ
					p
						ボクは当別町に住んでいる普通の人。地域紹介が役割といっても普段の生活は庶民的なものです。大人の事情で外食レポートとかできないかわりに、地元の食材を使ったごはん作りの様子をお伝えしてます。みんなの近所のスーパーで「北海道産」の食材があったらぜひ買って料理を楽しんでほしいんだよっ
				div.col-md-4.col-sm-4.col-xs-4
					img.img-responsive(src='/images/about/ota2321.jpg')
		div.row
			p
				div.col-md-4.col-sm-4.col-xs-4
					img.img-responsive(src='/images/about/ota2320.jpg')
				div.col-md-4.col-sm-4.col-xs-4
					img.img-responsive(src='/images/about/ota2322.jpg')
				div.col-md-4.col-sm-4.col-xs-4
					img.img-responsive(src='/images/about/ota2323.jpg')
		hr
		
		div.row
			h3 大谷さんの活動の様子はTwitterで！(お問い合わせ先など)
			p
				ボクの活動の様子は、主にTwitter(<a href="https://twitter.com/ota_25">@ota_25</a>)でつぶやいています。ぜひフォローしてほしいなっ、みんなと楽しく会話をしたいのですよ。(´ｖ｀) その他、ボクに連絡をとりたいときもTwitterのDMを使ってくれて大丈夫だよ。メールがいいという人は ota25fjo@gmail.com までどうぞ。大谷号公式のメールアドレスだけど、気軽な感じで書いてくれてもいいんだよっ。
			blockquote
				p ※大谷さんに関する運営は「大谷さん運営事務局」が行っております。TwitterのDMやメールでのコメントについては内容によってご返事ができないものもありますのでご了承ください。ご返信の基準に関しては非公開とさせていただいております。
