extends layout

block content
	div.container
		div.row
			img.img-responsive(src='/images/index/mainimg.jpg', width='100%')
	
		div.row
			div.col-md-8.col-sm-8
				h1 こんにちは。大谷号です。
				p.lead 大谷号は、北海道は札幌のおとなり、石狩郡当別町で活動しています。当別町から北海道を紹介するキャラクター「大谷さん」を案内役に、地域のことと、大好きなジャガイモについて紹介する本なんかをつくってます。普段はTwitterでの活動をメインにしています。応援よろしくですっ。

				h2 こうしんりれき
				table.table.table-striped.table-hover
					tbody
						tr
							td 2015/11/01
							td リニューアルしました
